{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md 6">
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="Taskname">
                </div>
                <div class="form-group">
                <input type="text" class="form-control" name="priority" placeholder="Entre your priority">
                </div>
                <div class="form-group">
                <input type="date" class="form-control" name="date" placeholder="Entre your date">
                </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6">
            <h4>Task to be Completed</h4>
            {% for i in task %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>

                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>

                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}